.leaflet-container {
  width: 375px;
  height: 470px;
}

.leaflet-bottom.leaflet-right :first-child {
  display: none;
}

@media only screen and (max-width: 600px) {
  .leaflet-container {
    width: 100%;
    height: 330px;
  }
}
