@font-face {
  font-family: 'slRegular';
  src: url('./assets/fonts/slRegular.woff2') format('woff2');
}
@font-face {
  font-family: 'slBold';
  src: url('./assets/fonts/slBold.woff2') format('woff2');
}
@font-face {
  font-family: 'slCool';
  src: url('./assets/fonts/slCool.woff2') format('woff2');
}
/* invisible ScrollBar - Start */
html {
  scrollbar-width: none; /* Firefox */
  overflow: scroll;
  overflow-x: hidden;
  font-size: 62.5%;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* invisible ScrollBar - End */

body {
  position: relative;
  background: #20252b;
}

h1 {
  font-size: 3.2em;
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 2.4em;
}
h3 {
  margin: 0;
  font-size: 1.872em;
}
h4 {
  margin: 0;
  font-size: 1.6em;
}
h5 {
  margin: 0;
  font-size: 1.328em;
}
h6 {
  margin: 0;
  font-size: 1.2em;
}
p {
  margin: 0;
}
